<h1>Barra navegación</h1>
<div class="list-group">
  <button type="button" routerLink="home" routerLinkActive="active"
    class="list-group-item list-group-item-action">Home</button>
  <button type="button" routerLink="about" routerLinkActive="active"
    class="list-group-item list-group-item-action">About</button>
  <button type="button" routerLink="contact" routerLinkActive="active"
    class="list-group-item list-group-item-action">Contact</button>
  <button routerLink="countries/country" routerLinkActive="active" class="list-group-item list-group-item-action">País</button>
  <button routerLink="countries/by-capital" routerLinkActive="active" class="list-group-item list-group-item-action">Capital</button>
  <button routerLink="countries/by-country" routerLinkActive="active" class="list-group-item list-group-item-action">Por país</button>

</div>
