<div class="about-container">
    <h1>Acerca de mí</h1>
    <p>Hola, soy Sergio Izquierdo, un estudiante de segundo año de desarrollo de aplicaciones web. Este es mi último proyecto antes de comenzar mis prácticas, y quiero aprovechar esta oportunidad para agradecer todo el apoyo y orientación durante este tiempo.</p>
    
    <h2>Un poco sobre mí</h2>
    <p>Soy un apasionado del mundo del desarrollo web, especialmente del back-end. Me encanta trabajar con tecnologías como Node.js, Express y MongoDB para crear aplicaciones robustas y escalables.</p>
    
    <h2>Mi viaje hasta ahora</h2>
    <p>Desde que comencé mi carrera en desarrollo de aplicaciones web, he estado inmerso en un emocionante viaje de aprendizaje y crecimiento. He adquirido habilidades en HTML, CSS, JavaScript, así como en frameworks como Angular y React. Sin embargo, donde realmente encuentro mi pasión es en la creación de servidores y la gestión de bases de datos.</p>
    
    <h2>Agradecimiento a Sebas</h2>
    <p>Quiero expresar mi más sincero agradecimiento por tu dedicación y compromiso en ayudarme a alcanzar mis metas académicas y profesionales. Tus consejos y forma de enseñanza han sido invaluables para mí, y estoy seguro de que llevaré conmigo todo lo que he aprendido durante mi tiempo en clase a la empresa en la FCT o Formación en Centros de Trabajo.</p>
    
    <h2>Próximos pasos</h2>
    <p>Estoy emocionado por lo que el futuro me depara. Estoy ansioso por aplicar mis habilidades en un entorno de trabajo real durante mis prácticas y seguir aprendiendo y creciendo como desarrollador. Estoy seguro de que los fundamentos sólidos que he adquirido en tus clases me servirán bien en mi carrera profesional.</p>
    
    <p>Una vez más, gracias por todo y espero mantenernos en contacto en el futuro.</p>
    
    <p>Atentamente,</p>
    <p>Sergio Izquierdo Moreno</p>
  </div>
  