<div class="col-8">
    <div class="search-container"> <!-- Div contenedor del componente app-search-box -->
        <app-search-box [placeholder]="placeholderText" (propagar)="procesaEmisor($event)"></app-search-box>
    </div>

    <div *ngIf="countries.length === 0; else table" class="alert alert-warning text-center">
        No hay países que mostrar...
    </div>

    <ng-template #table>
        <div class="country-table-container"> <!-- Div contenedor del componente app-country-table -->
            <app-country-table [countries]="countries"></app-country-table>
        </div>
    </ng-template>
</div>